@charset "UTF-8";
/*EM HTML O ID VIRA= #
EM CSS O CLASS VIRA= .   */ 
body{
    background-attachment: fixed;
    background-color: #343D64;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    
    color: #8095F5;



}
h1#principal{
    text-align: center;
    background-color: #5866A8;
    color: rgb(255, 255, 255); /* Esse #principal após h1 é = id("principal") do html*/
}

h2{
    
    color: #7B90EC;
}
p{
    text-align: justify;
    color: white;
}
p.gus{
    color: rgb(198, 16, 16);
}
/*HÁ UMA HIERARQUIA ONDE O GENÉRICO VEM PRIMEIRO E DEPOIS VEM O ESPECÍFICO.*/

