@charset "UTF-8";



body{
    background-color: #84E1AD;
    margin: 0px;
}

header{
    background-image: linear-gradient(to bottom ,#3AD07E, #207043);
    text-align: center;
    padding: 5px;
    
}

nav{
    text-align: left;
}

main {
    background-color: white;
    margin: -15px 350px;
    padding: 0px 20px;
}

section{
    background-color: #1A5C38;
    text-align: center;

}

footer{
    background-color: white;

}

article{
    background-color: #C5EBD6;
}

h3{
    background-color: #2FA866;
}